
## PyCitySchools Analysis: Dependencies & Setup
***
* Import pandas, set options, load & merge data for analysis

In [1]:
# Dependencies and Setup
import pandas as pd

# set options
pd.options.display.float_format = '{:20,.2f}'.format

# Data files for analysis
pyCitySchoolsFile = "Resources/schools_complete.csv"
pyCityStudentsFile = "Resources/students_complete.csv"

# Load data into DataFrames for analysis
pyCitySchools = pd.read_csv(pyCitySchoolsFile)
pyCityStudents = pd.read_csv(pyCityStudentsFile)

# merge school and students DataFrames
pyCitySchoolStudents = pd.merge(pyCitySchools, pyCityStudents, how="left", on=["school_name"])

 ## District Summary
 ***
    
* Calculate the total number of schools
    
* Calculate the total number of students
    
* Calculate the total budget
    
* Calculate the average math score
    
* Calculate the average reading score
    
* Calculate the percentage of students with a passing math score (70 or greater)
    
* Calculate the percentage of students with a passing reading score (70 or greater)
    
* Calculate the percentage of students who passed math **and** reading (% Overall Passing)
    
* Create a dataframe to hold the above results
    
* Optional: give the displayed data cleaner formatting

In [2]:
#District SUmmary

studentsPassedInMath = pyCityStudents[pyCityStudents.math_score >= 70 ]
studentsPassedInReading = pyCityStudents[pyCityStudents.reading_score >= 70 ]
studentsPassed = pyCityStudents[(pyCityStudents.reading_score >= 70) & (pyCityStudents.math_score >= 70) ]

districtSummaryDf = pd.DataFrame({
    "Total Schools" : [pyCitySchools["school_name"].count()],
    "Total Students": [pyCityStudents["student_name"].count()],
    "Total Budget" :  [pyCitySchools["budget"].sum()],
    "Average Math Score" :  [pyCityStudents["math_score"].mean()],
    "Average Reading Score" :  [pyCityStudents["reading_score"].mean()],
    "% Passing Math" :  [studentsPassedInMath["student_name"].count() * 100 / pyCityStudents["student_name"].count()],
    "% Passing Reading" :  [studentsPassedInReading["student_name"].count() * 100 / pyCityStudents["student_name"].count()],
    "% Overall Passing" :  [studentsPassed["student_name"].count() * 100 / pyCityStudents["student_name"].count()]
})


districtSummaryDf.style.format({
    "Total Students": "{:,}",
    "Total Budget": "${:,.2f}"
})

## School Summary
*** 
* Create an overview table that summarizes key metrics about each school, including:
>* School Name
>* School Type
>* Total Students
>* Total School Budget
>* Per Student Budget
>* Average Math Score
>* Average Reading Score
>* % Passing Math
>* % Passing Reading
>* % Overall Passing (The percentage of students that passed math and reading.)


* Create a dataframe to hold the above results

In [3]:
# School Summary

schoolSummaryDf = pyCitySchools.groupby(["school_name", "type"])

schoolStudentsSummaryDf = pyCitySchoolStudents.groupby(["school_name", "type"])

schoolStudentsPassedInMath = pyCitySchoolStudents[pyCitySchoolStudents.math_score >= 70 ].groupby(["school_name", "type"])
schoolStudentsPassedInReading = pyCitySchoolStudents[pyCitySchoolStudents.reading_score >= 70 ].groupby(["school_name", "type"])
schoolStudentsPassed = pyCitySchoolStudents[(pyCitySchoolStudents.reading_score >= 70) & 
                                            (pyCitySchoolStudents.math_score >= 70) ].groupby(["school_name", "type"])

schoolSummaryDf = pd.DataFrame({
    "Total Students": schoolStudentsSummaryDf["student_name"].count(),
    "Total Budget": schoolSummaryDf["budget"].sum(),
    "Per Student Budget": schoolSummaryDf["budget"].sum() / schoolStudentsSummaryDf["school_name"].count(),
    "Average Math Score": schoolStudentsSummaryDf["math_score"].mean(),
    "Average Reading Score": schoolStudentsSummaryDf["reading_score"].mean(),
    "%Passing Math": schoolStudentsPassedInMath["student_name"].count() * 100 / schoolStudentsSummaryDf["student_name"].count(),
    "%Passing Reading": schoolStudentsPassedInReading["student_name"].count() * 100 / schoolStudentsSummaryDf["student_name"].count(),
    "%Overall Passing": schoolStudentsPassed["student_name"].count() * 100 / schoolStudentsSummaryDf["student_name"].count()
}).reset_index().rename(columns={"school_name":"", "type": "School Type"})

spendingPerStudentAnalysis = schoolSummaryDf

schoolSummaryDf.style.format({
    "Total Budget": "${:,.2f}",
    "Per Student Budget": "${:,.2f}",
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "%Passing Math": "{:,.6f}",
    "%Passing Reading": "{:,.6f}",
    "%Overall Passing": "{:,.6f}"    
})


## Top Performing Schools (By % Overall Passing)
***
 
* Sort and display the top five performing schools by % overall passing.

In [4]:
# Top performing schools (By % Overall Passing)

topFiveSchoolsDf = schoolSummaryDf.sort_values(by=['%Overall Passing'], ascending=False)
topFiveSchoolsDf.head(5).style.format({
    "Total Budget": "${:,.2f}",
    "Per Student Budget": "${:,.2f}",
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "%Passing Math": "{:,.6f}",
    "%Passing Reading": "{:,.6f}",
    "%Overall Passing": "{:,.6f}"    
})


## Bottom Performing Schools (By % Overall Passing)
***

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
# Bottom performing schools (By % Overall Passing)

bottomFiveSchoolsDf = schoolSummaryDf.sort_values(by=['%Overall Passing'])
bottomFiveSchoolsDf.head(5).style.format({
    "Total Budget": "${:,.2f}",
    "Per Student Budget": "${:,.2f}",
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "%Passing Math": "{:,.6f}",
    "%Passing Reading": "{:,.6f}",
    "%Overall Passing": "{:,.6f}"    
})


## Math Scores by Grade
***

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

>* Create a pandas series for each grade. Hint: use a conditional statement.
>* Group each series by school
>* Combine the series into a dataframe
>* Optional: give the displayed data cleaner formatting

In [6]:
# Math Scores by Grade

ninthGradeMath = pyCitySchoolStudents[pyCitySchoolStudents.grade == "9th"].groupby(["school_name"])
TenthGradeMath = pyCitySchoolStudents[pyCitySchoolStudents.grade == "10th"].groupby(["school_name"])
EleventhGradeMath = pyCitySchoolStudents[pyCitySchoolStudents.grade == "11th"].groupby(["school_name"])
TwelfthGradeMath = pyCitySchoolStudents[pyCitySchoolStudents.grade == "12th"].groupby(["school_name"])

schoolSummaryDf = pd.DataFrame({
    "9th" : ninthGradeMath["math_score"].mean(),
    "10th" : TenthGradeMath["math_score"].mean(),
    "11th" : EleventhGradeMath["math_score"].mean(),
    "12th" : TwelfthGradeMath["math_score"].mean()
}).reset_index().rename(columns={"school_name":""})

schoolSummaryDf.style.format({
    "Total Budget": "${:,.2f}",
    "Per Student Budget": "${:,.2f}",
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "%Passing Math": "{:,.6f}",
    "%Passing Reading": "{:,.6f}",
    "%Overall Passing": "{:,.6f}"    
})


## Reading Score by Grade
***

* Perform the same operations as above for reading scores

In [7]:
# Reading Scores by Grade

ninthGradeReading = pyCitySchoolStudents[pyCitySchoolStudents.grade == "9th"].groupby(["school_name"])
TenthGradeReading = pyCitySchoolStudents[pyCitySchoolStudents.grade == "10th"].groupby(["school_name"])
EleventhGradeReading = pyCitySchoolStudents[pyCitySchoolStudents.grade == "11th"].groupby(["school_name"])
TwelfthGradeReading = pyCitySchoolStudents[pyCitySchoolStudents.grade == "12th"].groupby(["school_name"])

schoolSummaryDf = pd.DataFrame({
    "9th" : ninthGradeReading["reading_score"].mean(),
    "10th" : TenthGradeReading["reading_score"].mean(),
    "11th" : EleventhGradeReading["reading_score"].mean(),
    "12th" : TwelfthGradeReading["reading_score"].mean()
}).reset_index().rename(columns={"school_name":""})

schoolSummaryDf.style.format({
    "Total Budget": "${:,.2f}",
    "Per Student Budget": "${:,.2f}",
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "%Passing Math": "{:,.6f}",
    "%Passing Reading": "{:,.6f}",
    "%Overall Passing": "{:,.6f}"    
})


## Scores by School Spending
*** 

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:

>* Average Math Score
>* Average Reading Score
>* % Passing Math
>* % Passing Reading
>* Overall Passing Rate (Average of the above two)

In [8]:
# Scores by School Spending

spendingBins = pd.cut(spendingPerStudentAnalysis["Per Student Budget"], bins=[0, 585, 630, 645, 685] , labels=("<$585", "$585-630", "$630-645", "$645-680"))

#print(spendingBins)

schoolSpendingAnalysis = spendingPerStudentAnalysis[["Average Math Score", "Average Reading Score", "%Passing Math", "%Passing Reading", "%Overall Passing"]].groupby(spendingBins).agg(["mean"])

schoolSpendingAnalysis.style.format({    
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "%Passing Math": "{:,.6f}",
    "%Passing Reading": "{:,.6f}",
    "%Overall Passing": "{:,.6f}"    
})


## Scores by School Size
***
 
* Perform the same operations as above, based on school size.

In [9]:
#Scores by School Size

schoolSize = pd.cut(spendingPerStudentAnalysis["Total Students"], bins = [0, 1000, 2000, 5000], labels=("<1000", "1000-2000", "2000-5000"))

schoolSizeAnalysis = spendingPerStudentAnalysis[["Average Math Score", "Average Reading Score", "%Passing Math", "%Passing Reading", "%Overall Passing"]].groupby(schoolSize).agg(["mean"])

schoolSizeAnalysis.style.format({    
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "%Passing Math": "{:,.6f}",
    "%Passing Reading": "{:,.6f}",
    "%Overall Passing": "{:,.6f}"    
})


## Scores by School Type
***
 
* Perform the same operations as above, based on school type

In [10]:
schoolTypeSummaryDf = pyCitySchools.groupby(["type"])

schoolTypeStudentsSummaryDf = pyCitySchoolStudents.groupby(["type"])

schoolTypeStudentsPassedInMath = pyCitySchoolStudents[pyCitySchoolStudents.math_score >= 70 ].groupby(["type"])
schoolTypeStudentsPassedInReading = pyCitySchoolStudents[pyCitySchoolStudents.reading_score >= 70 ].groupby(["type"])
schoolTypeStudentsPassed = pyCitySchoolStudents[(pyCitySchoolStudents.reading_score >= 70) & (pyCitySchoolStudents.math_score >= 70) ].groupby(["type"])

schoolTypeSummaryDf = pd.DataFrame({
   "Average Math Score": schoolTypeStudentsSummaryDf["math_score"].mean(),
   "Average Reading Score": schoolTypeStudentsSummaryDf["reading_score"].mean(),
   "%Passing Math": schoolTypeStudentsPassedInMath["student_name"].count() * 100 / schoolTypeStudentsSummaryDf["student_name"].count(),
   "%Passing Reading": schoolTypeStudentsPassedInReading["student_name"].count() * 100 / schoolTypeStudentsSummaryDf["student_name"].count(),
    "%Overall Passing": schoolTypeStudentsPassed["student_name"].count() * 100 / schoolTypeStudentsSummaryDf["student_name"].count()
}).reset_index().rename(columns={"type": "School Type"})

schoolTypeSummaryDf.style.format({    
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "%Passing Math": "{:,.6f}",
    "%Passing Reading": "{:,.6f}",
    "%Overall Passing": "{:,.6f}"    
})