In [1]:
# Dependencies and Setup
import pandas as pd

# set options
pd.options.display.float_format = '{:20,.2f}'.format

# Data files for analysis
pyCitySchoolsFile = "Resources/schools_complete.csv"
pyCityStudentsFile = "Resources/students_complete.csv"

# Load data into DataFrames for analysis
pyCitySchools = pd.read_csv(pyCitySchoolsFile)
pyCityStudents = pd.read_csv(pyCityStudentsFile)

# merge school and students DataFrames
pyCitySchoolStudents = pd.merge(pyCitySchools, pyCityStudents, how="left", on=["school_name"])

In [9]:
#District SUmmary

studentsPassedInMath = pyCityStudents[pyCityStudents.math_score >= 70 ]
studentsPassedInReading = pyCityStudents[pyCityStudents.reading_score >= 70 ]
studentsPassed = pyCityStudents[(pyCityStudents.reading_score >= 70) & (pyCityStudents.math_score >= 70) ]

districtSummaryDf = pd.DataFrame({
    "Total Schools" : [pyCitySchools["school_name"].count()],
    "Total Students": [pyCityStudents["student_name"].count()],
    "Total Budget" :  [pyCitySchools["budget"].sum()],
    "Average Math Score" :  [pyCityStudents["math_score"].mean()],
    "Average Reading Score" :  [pyCityStudents["reading_score"].mean()],
    "% Passing Math" :  [studentsPassedInMath["student_name"].count() * 100 / pyCityStudents["student_name"].count()],
    "% Passing Reading" :  [studentsPassedInReading["student_name"].count() * 100 / pyCityStudents["student_name"].count()],
    "% Overall Passing" :  [studentsPassed["student_name"].count() * 100 / pyCityStudents["student_name"].count()]
})


districtSummaryDf.style.format({
    "Total Students": "{:,}",
    "Total Budget": "${:,.2f}"
})

In [4]:
# School Summary

schoolSummaryDf = pyCitySchools.groupby(["school_name", "type"])

#.rename(columns={"school_name":"", "type": "School Type"})

schoolStudentsSummaryDf = pyCitySchoolStudents.groupby(["school_name", "type"])

schoolStudentsPassedInMath = pyCitySchoolStudents[pyCitySchoolStudents.math_score >= 70 ].groupby(["school_name", "type"])
schoolStudentsPassedInReading = pyCitySchoolStudents[pyCitySchoolStudents.reading_score >= 70 ].groupby(["school_name", "type"])
schoolStudentsPassed = pyCitySchoolStudents[(pyCitySchoolStudents.reading_score >= 70) & 
                                            (pyCitySchoolStudents.math_score >= 70) ].groupby(["school_name", "type"])

schoolSummaryDf = pd.DataFrame({
    "Total Students": schoolStudentsSummaryDf["student_name"].count(),
    "Total Budget": schoolSummaryDf["budget"].sum(),
    "Per Student Budget": schoolSummaryDf["budget"].sum() / schoolStudentsSummaryDf["school_name"].count(),
    "Average Math Score": schoolStudentsSummaryDf["math_score"].mean(),
    "Average Reading Score": schoolStudentsSummaryDf["reading_score"].mean(),
    "%Passing Math": schoolStudentsPassedInMath["student_name"].count() * 100 / schoolStudentsSummaryDf["student_name"].count(),
    "%Passing Reading": schoolStudentsPassedInReading["student_name"].count() * 100 / schoolStudentsSummaryDf["student_name"].count(),
    "%Overall Passing": schoolStudentsPassed["student_name"].count() * 100 / schoolStudentsSummaryDf["student_name"].count()
}).reset_index().rename(columns={"school_name":"", "type": "School Type"})


schoolSummaryDf.style.format({
    "Total Budget": "${:,.2f}",
    "Per Student Budget": "${:,.2f}",
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "%Passing Math": "{:,.6f}",
    "%Passing Reading": "{:,.6f}",
    "%Overall Passing": "{:,.6f}"    
})